{% extends 'dashboard/base.html' %}

{% block breadcrumb %}
All Staffs
{% endblock breadcrumb %}

{% block title %}
All Staffs
{% endblock title %}


{% block content %}

{% load static %}




<section class="content">

    <div class="container-fluid">
        <style>
            label {
                /* display: block; */
                margin-bottom: 8px;
                color: #333;
                font-weight: bold;
            }

            input[type="text"] {
                width: 30%;
                padding: 10px;
                margin-bottom: 16px;
                box-sizing: border-box;
                border: 1px solid #ccc;
                border-radius: 4px;
                font-size: 14px;
            }

            input[type="text"]:focus {
                outline: none;
                border-color: #4caf50;
            }

            button {
                background-color: #4caf50;
                color: #fff;
                padding: 12px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                font-size: 16px;
                transition: background-color 0.3s ease;
            }

            button:hover {
                background-color: #45a049;
            }

            p {
                color: #888;
                margin-top: 8px;
            }
        </style>
        <form action="{% url 'all_staffs' %}" method="GET">
            <label for="searchNameInput">Search by Name:</label>
            <input type="text" id="searchNameInput" name="search_name" value="{{ search_name_query }}">

            <label for="searchServiceInput">Search by Service:</label>
            <input type="text" id="searchServiceInput" name="search_service" value="{{ search_service_query }}">

            <button type="submit">Search</button>
            {% if search_name_query or search_service_query %}
            <a href="{% url 'all_staffs' %}"><button type="button">Clear</button></a>
            {% endif %}
        </form>


        <a class="btn btn-primary" href="{% url 'addStaffs' %}" role="button">+ Add Staffs</a> <br />&nbsp;

        <div class="row">

            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card">

                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Staff Image</th>
                                    <th>Staff Name</th>
                                    <th>Email</th>
                                    <th>Mobile Number</th>
                                    <th>Service</th>
                                    <th>Rating</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for staff in staffs %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td><img src="{{ staff.image.url }}"
                                            style="height: 100px; width: 100px; border-radius: 100px;"></td>
                                    <td>{{ staff.name }}</td>
                                    <td>{{ staff.email}}</td>
                                    <td>{{ staff.mobile}}</td>
                                    <td>
                                        {% with staff.service as staff_service %}
                                        {{ staff_service.name }}
                                        {% endwith %}
                                    </td>
                                    <td>
                                        <!-- Display stars based on the rating value -->
                                        <div class="rating">
                                            {% for i in "12345" %}
                                            <span
                                                class="fa {% if forloop.counter <= staff.ratings.last.rating %}fa-star{% else %}fa-star-o{% endif %}"></span>
                                            {% endfor %}
                                        </div>
                                        <!-- Display the rating value as a number -->
                                        <span class="average-rating">{{ staff.ratings.last.rating }}</span>
                                    </td>




                                    <td>
                                        <a href="{% url 'editStaff' staff.id %}" class="btn btn-success">Edit</a>
                                        <form method="post" action="{% url 'deleteStaff' staff.id %}"
                                            style="display: inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </div>
        </div>

    </div><!-- /.container-fluid -->
</section>

{% endblock content %}