{% extends 'dashboard/base.html' %}

{% block breadcrumb %}
All Services
{% endblock breadcrumb %}

{% block title %}
All Services
{% endblock title %}


{% block content %}

{% load static %}


<section class="content">
    <style>
        label {
            /* display: block; */
            margin-bottom: 8px;
            color: #333;
            font-weight: bold;
        }

        input[type="text"] {
            width: 30%;
            padding: 10px;
            margin-bottom: 16px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 14px;
        }

        input[type="text"]:focus {
            outline: none;
            border-color: #4caf50;
        }

        button {
            background-color: #4caf50;
            color: #fff;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #45a049;
        }

        p {
            color: #888;
            margin-top: 8px;
        }
    </style>
    <form action="{% url 'all_services' %}" method="GET">
        <label for="searchNameInput">Search by Name:</label>
        <input type="text" id="searchNameInput" name="search_name" value="{{ search_name_query }}">

        <button type="submit">Search</button>
        {% if search_name_query %}
        <a href="{% url 'all_services' %}"><button type="button">Clear</button></a>
        {% endif %}
    </form>


    <div class="container-fluid">

        <a class="btn btn-primary" href="{% url 'add_services' %}" role="button">+ Add Service</a> <br />&nbsp;

        <div class="row">

            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card">

                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Service Image</th>
                                    <th>Service Name</th>
                                    <th>Service Price</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for service in services %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td><img src="{{ service.image.url }}"
                                            style="height: 100px; width: 100px; border-radius: 100px;"></td>
                                    <td>{{ service.name }}</td>
                                    <td>Ksh {{ service.price }}</td>
                                    <td>
                                        <a href="{% url 'edit_service' service.id %}" class="btn btn-success">Edit</a>
                                        <form method="post" action="{% url 'delete_service' service.id %}"
                                            style="display: inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </div>
        </div>

    </div><!-- /.container-fluid -->
</section>

{% endblock content %}